<div class="main-content">

  <form class="form-basic" (ngSubmit)="postCustomer(customer.ScheduleTime, customer.DateOfBirth, customer.DistrictId)" method="post">

    <div class="form-title-row">
      <h1>Customer Registration</h1>
    </div>

    <div class="form-row">
      <label>
        <span>Full name</span>
        <input type="text" name="name" [(ngModel)]="customer.FullName" id="name" required>
      </label>
    </div>

    <div class="form-row">
          <label>
            <span>Date of Birth</span>
            <input placeholder="yyyy-mm-dd" [(ngModel)]="customer.DateOfBirth" [maxDate]="minDate" name="birth" ngbDatepicker #b="ngbDatepicker" (click)="b.toggle()" required>
          </label>
    </div>

    <div class="form-row">
      <label>
        <span>Phone</span>
        <input type="text" [(ngModel)]="customer.Phone" maxlength="11" minlength="0" pattern="[0-9]{11}"  placeholder="0555-555-55-55" name="phone" required>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Schedule Datetime</span>
        <input placeholder="yyyy-mm-dd" [(ngModel)]="customer.ScheduleTime" [minDate]="minDate" name="date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" required>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Select City</span>
        <select [(ngModel)]="selectedCity" name="city" (change)="onChange($event.target.value)" required>
          <option *ngFor="let city of this.cityArr" [value]="city.id">{{city.name}}</option>
        </select>
      </label>
    </div>

    <div class="form-row" *ngIf="selectedCity">
      <label>
        <span>Select District</span>
        <select [(ngModel)]="customer.DistrictId" name="district" required>
          <option *ngFor="let d of this.dis" [value]="d.id">{{d.name}}</option>
        </select>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Notes</span>
        <textarea [(ngModel)]="customer.Notes" name="notes" required></textarea>
      </label>
    </div>

    <div class="form-row">
      <button type="submit">Submit</button>
    </div>

  </form>
</div>


<router-outlet></router-outlet>
